<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.1/superhero/bootstrap.min.css" integrity="sha512-Qd4Ez/FE/anYVYk5yrlGlblYQe2DPgtXyddJvP5jEVAuh/y238Y6L+7eEpRi9+8g4BVnoeFI90kOkS3gAnJkkA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<app-navbar/>

  <div class="title">
    <h4>Lista de producto</h4>
    <button type="button" class="btn btn-outline-primary mt-3" routerLink="/add">Nuevo producto</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr class="m-0">

        <th>Nombre de producto</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Products of listProducts" class="table-active">

        <td>{{Products.name}}</td>
        <td>{{Products.description}}</td>
        <td>{{Products.price | currency}}</td>
        <td>
          <button routerLink="/edit/{{Products.id}}" type="button" class="btn btn-outline-info btn-sm ">Edit</button>
          <button (click)="deleteProduct(Products.id)" type="button" class="btn btn-outline-danger btn-sm ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>




